@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(to right, black, cyan);
	display: grid;
	place-items: center;
	height: 100vh;
	overflow: hidden;
}

.form-control {
	margin-bottom: 20px;
	position: relative;
	width: 14rem;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #fff;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	color: #fff;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: cyan;
}

.form-control label {
	position: absolute;
	top: 14px;
	left: 0;
	pointer-events: none;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	color: #fff;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
	transform: translateY(-30px);
	color: cyan;
}
